#########################
#####  Global Rule  #####
#########################
*                                                       @hashgraph/platform-base @hashgraph/hedera-services
#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                               @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                             @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                              @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers @hashgraph/platform-base @hashgraph/hedera-services
**/LICENSE                                              @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                          @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                           @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/platform-base @hashgraph/hedera-services
**/.gitignore.*                                         @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/platform-base @hashgraph/hedera-services
